<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>αBot</title>
</head>
<body>
    <h1>PROGETTO ALPHABOT</h1>
    <form method="post" action="/">
        <input type="submit" value="Avanti" name="Avanti">
        <input type="submit" value="Indietro" name="Indietro">
        <input type="submit" value="Destra" name="Destra">
        <input type="submit" value="Sinistra" name="Sinistra">
        <input type="submit" value="Stop" name="Stop">
        <input type="submit" value="Quadrato" name="Quadrato">
        <input type="submit" value="AvantiIndietro" name="AvantiIndietro">
    </form>

    
</body>
</html>